<template>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <tabs>
          <tab name="Order's history">
            <table class="table font-primary table-hover mt-4" v-if="orders.length">
              <thead>
                <tr class="font-secondary regular">
                  <th scope="col">#</th>
                  <th scope="col">Pizzas</th>
                  <th scope="col">Total</th>
                  <th scope="col">Status</th>
                  <th scope="col">Date</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(order, index) in orders" v-bind:key="index">
                  <th>{{ index + 1 }}</th>
                  <td>
                    <span v-for="(item, index) in order.items" v-bind:key="index">
                      {{ item.name }}
                      <br />
                    </span>
                  </td>
                  <td>{{ order.order.price }} $</td>
                  <td>{{ getOrderStatus(order.order.status_id) }}</td>
                  <td>{{ order.order.created_at }}</td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </tab>
          <tab name="Profile">
            <div class="form-group">Here could be placed profile info =)</div>
          </tab>
        </tabs>
      </div>
    </div>
  </div>
</template>
<script>
import Tabs from "vue-tabs-component";
import { required } from "vuelidate/lib/validators";

Vue.use(Tabs);

export default {
  data() {
    return {
      statuses: [
        {
          value: 1,
          label: "New"
        },
        {
          value: 2,
          label: "Canceled"
        },
        {
          value: 3,
          label: "Waiting for payment"
        },
        {
          value: 4,
          label: "Paid"
        },
        {
          value: 5,
          label: "In Progress"
        },
        {
          value: 6,
          label: "Done"
        },
      ]
    };
  },
  props: {
    orders: Array,
    user: Object,
    state: Object
  },
  methods: {
    getOrderStatus(statusID) {
      let i = this.statuses
        .map(status => parseInt(status.value))
        .indexOf(statusID);
      return this.statuses[i].label;
    },
    add() {
      if (!this.$v.validationGroup.deliveryForm.$invalid) {
        let data = {
          city: this.deliveryForm.city,
          street: this.deliveryForm.street,
          building: this.deliveryForm.building,
          suite: this.deliveryForm.suite
        };

        axios
          .post("/user/delivery", data)
          .then(res => {
            this.deliveries.push(res.data);
            console.log(this.deliveries);
          })
          .catch(error => {
            console.log(error);
          });
      }
    },
  }
};
</script>