<template>
  <div class="container">
    <div v-if="!items.length" class="col-lg-12 font-primary pt-4">
      <h3>
        Your cart is empty. Please,
        <a href="/">choose Pizza</a>
      </h3>
    </div>

    <div v-else v-for="(item, index) in items" v-bind:key="index" class="row mt-4">
      <div class="col-lg-4">
        <img class="img img-thumbnail" :src="item.photos[0].path" :alt="item.name" />
      </div>
      <div class="cart-item-description col-lg-4">
        <div class="title">
          {{ item.name }}
          <i @click="removeFromCart(item)" class="fa fa-trash ml-4"></i>
        </div>
        <div class="font-primary regular">
          Amount:
          <span class="pointer" @click="add(item.id)">+</span>
          {{ item.pivot.quantity }}
          <span class="pointer" @click="remove(item.id)">-</span>
        </div>
        <div class="mt-4 font-primary regular">
          Price:
          <span v-if="item.price > 0 && currentSign == 'dollar'">
            <b>{{ item.price * item.pivot.quantity }} $</b>
          </span>
          <span v-if="item.price > 0 && currentSign == 'euro'">
            <b>{{ parseFloat(item.price / priceConvert * item.pivot.quantity).toFixed(2) }} €</b>
          </span>
        </div>
      </div>
    </div>
    <div v-if="items.length">
      <div class="mt-4">
        <div class="col-lg-12 text-right">
          <span
            class="font-secondary middle bold"
          >Total: {{ parseFloat(sum).toFixed(2) }} {{ currentSign == 'dollar' ? '$' : '€' }}</span>
          <br />
          <a href class="font-primary" @click="switchCurrency">Chage currency</a>
        </div>
      </div>
      <div class="mt-4">
        <div class="col-lg-12 text-right">
          <button class="aroma-button py-2">
            <a href="/order">Form the order</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      currentSign: "dollar",
      priceConvert: 1.18,
      added: [],
      items: [],
      cartId: 0,
      count: 0,
      sum: 0
    };
  },
  mounted() {
    this.cartId = localStorage.getItem("cart_id");
    this.count = this.getCount();

    if (this.cartId !== null) {
      axios
        .get("/cart/" + this.cartId)
        .then((res) => {
          this.items = res.data.items;
          this.added = JSON.parse(localStorage.getItem("added"));
          this.getSum();
        })
        .catch((error) => {
          console.log(error);
        });
    }
  },
  methods: {
    switchCurrency(e) {
      e.preventDefault();
      if (this.currentSign === "dollar") {
        this.sum /= this.priceConvert;
        this.currentSign = "euro";
      } else {
        this.sum *= this.priceConvert;
        this.currentSign = "dollar";
      }
    },
    getSum() {
      let sum = 0;
      this.items.forEach(function (item) {
        sum += parseFloat(item.price) * parseFloat(item.pivot.quantity);
      });

      this.sum = sum;
    },
    add(itemId) {
      let i = this.items.map((item) => parseInt(item.id)).indexOf(itemId);
      if (this.items[i].pivot.quantity >= 0) ++this.items[i].pivot.quantity;
      this.getSum();
      this.saveCart("add", itemId);
    },

    remove(itemId) {
      let i = this.items.map((item) => parseInt(item.id)).indexOf(itemId);
      if (this.items[i].pivot.quantity > 0) --this.items[i].pivot.quantity;
      this.getSum();
      this.saveCart("remove", itemId);
    },

    removeFromCart(item) {
      axios
        .delete(`/cart/${this.cartId}/${item.id}`)
        .then((res) => {
          if (res.data.success) {
            this.updateAdded();
            this.items = this.items.filter((filter) => filter.id !== item.id);
            this.setCount(--this.count);
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },

    saveCart(action, itemId) {
      let data = {
        cart_id: this.cartId,
        item_id: itemId,
        action,
      };

      axios
        .post("/cart/update", data)
        .then((res) => {})
        .catch((error) => {
          console.log(error);
        });
    },

    updateAdded(itemId) {
      let find = this.added.indexOf(itemId);

      this.added.splice(find, 1);
      if (!this.added.length) localStorage.removeItem("added");
      else localStorage.setItem("added", JSON.stringify(this.added));
    },

    setCount(number) {
      localStorage.setItem("count", number);
    },

    getCount() {
      return localStorage.getItem("count");
    },
  },
};
</script>
<style scoped>
i {
  cursor: pointer;
  font-size: 16pt;
}
</style>