<template>
  <div class="container-fluid">
    <div v-if="items.length" class="row mt-2">
      <div v-for="item in items" v-bind:key="item.id" class="p-2 mt-4 col-lg-4 text-center">
        <div class="item-box">
          <div class="img-hover-zoom-brightness" @click="openDetails(item.id)">
            <img
              class="img w-75"
              v-if="item.photos.length"
              :src="item.photos[0].path"
              :alt="item.name + 'buy in Taganrog'"
            />
          </div>
          <h3>{{ item.name }}</h3>
          <h4>{{ item.description }}</h4>
          <div class="price-box">{{ item.price }} &#8381;</div>
          <div class="align-button">
            <button
              v-if="!item.added"
              @click="addToCart(item.id)"
              type="button"
              class="order-button rounded p-2 mt-2"
            >Add</button>
          </div>
          <a v-if="item.added" :href="'/cart'">
            <button class="order-button added rounded p-2 mt-2">Go to cart</button>
          </a>
        </div>
      </div>
    </div>
    <div v-else class="mt-3">
      <div class="text-center font-secondary middle">Ooooops... Nothing found.</div>
    </div>
  </div>
</template>
<style>
</style>

<script>
export default {
  data() {
    return {
      items: [],
      added: [],
      user: null,
      count: 0,
    };
  },

  props: {
    load: Array,
    extra: Boolean,
  },

  methods: {
    markAdded(itemId) {
      let i = this.items.map((item) => parseInt(item.id)).indexOf(itemId);

      this.items[i].added = true;
    },

    isValueExist(id) {
      let result = this.filters.map((item) => parseInt(item.id)).indexOf(id);

      return result;
    },

    isPriceExist() {
      let result = false;

      for (let i = 0; i < this.filters.length; i++) {
        if (this.filters[i].type === "price") {
          result = true;
          break;
        }
      }

      return result;
    },

    addToCart(id) {
      this.user = this.$cookie.get("user") ? this.$cookie.get("user") : null;

      axios
        .post("/cart", {
          item_id: id,
          user: this.user,
          cart_id:
            localStorage.getItem("cart_id") !== null
              ? localStorage.getItem("cart_id")
              : null,
        })
        .then((res) => {
          if (res.data.success) {
            if (res.data.data.temp !== null) {
              this.user = res.data.data.temp;
              this.$cookie.set("user", res.data.data.temp);
            }

            localStorage.setItem("cart_id", res.data.data.id);
            // Push added items to localStorage for show catalogue added Items
            this.added.push(id);
            localStorage.setItem("added", JSON.stringify(this.added));
            // Mark this item added for button show
            this.markAdded(id);
            console.log(this.count);
            this.setCount(++this.count);
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },

    openDetails(itemId) {
      window.location = "/items/" + itemId;
    },

    setCount(number) {
      localStorage.setItem("count", number);
    },

    getCount() {
      return localStorage.getItem("count");
    },
  },
  mounted() {
    this.count = this.getCount();
    if (this.count == null) this.setCount(0);
    console.log(this.count);

    this.added =
      localStorage.getItem("added") !== null
        ? JSON.parse(localStorage.getItem("added"))
        : [];

    this.items = this.load.map((item) => {
      if (this.added.find((addedItem) => addedItem === item.id)) {
        item.added = true;
      } else {
        item.added = false;
      }
      return item;
    });
  },
};
</script>
