<template>
  <span id="count" v-if="count > 0">{{ count }}</span>
</template>

<script>
export default {
  data() {
    return {
      count: 0,
    };
  },
  mounted() {
    this.count =
      localStorage.getItem("count") !== null
        ? JSON.parse(localStorage.getItem("count"))
        : 0;
  },
};
</script>