<template>
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container col-lg-6">
          <div class="modal-header font-primary">
            <slot name="header"></slot>
          </div>

          <div class="modal-body font-secondary text-center">
            <slot name="body"></slot>
          </div>

          <div class="modal-footer">
            <slot name="footer">
            </slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>