<template>
  <div class="container">
    <!-- Confirm Modal window -->
    <modal v-if="showConfirmModal">
      <h3 slot="header">Your order is accepted, please wait the delivery manager!</h3>
      <div slot="body">
        <div class="font-primary small regular">
          <h3>
            You can look after your order status out from your
            <a href="/login">Personal Cabinet</a>
          </h3>
        </div>
      </div>
    </modal>
    <!-- End Modal windows -->
    <div v-if="!items.length" class="col-lg-12">
      <h3>
        Your cart is empty.
        <a href="/">Choose the Pizza</a>
      </h3>
    </div>
    <div v-else>
      <div class="row mt-4">
        <div class="col-lg-12 flex-center">
          <div
            v-for="step in steps"
            v-bind:key="step.id"
            :class="{ active: step.active }"
            class="circle flex-center"
          >{{ step.id }}</div>
        </div>
      </div>

      <!-- Step 1 -->
      <table v-show="step === 1" class="table order-table font-secondary table-hover mt-4">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th style="width: 50%" scope="col">Product</th>
            <th scope="col">Title</th>
            <th scope="col">Amount</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in items" v-bind:key="index">
            <th>{{ index + 1 }}</th>
            <td>
              <img class="img img-thumbnail" :src="item.photos[0].path" :alt="item.name" />
            </td>
            <td>{{ item.name }}</td>
            <td>{{ item.pivot.quantity }}</td>
            <td>
              <span v-if="item.price > 0 && currentSign === 'dollar'">
                <b>{{ item.price * item.pivot.quantity }} $</b>
              </span>
              <span v-if="item.price > 0 && currentSign === 'euro'">
                <b>{{ parseFloat(item.price / priceConvert * item.pivot.quantity).toFixed(2) }} €</b>
              </span>
            </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>

      <div class="mt-4" v-show="step === 2">
        <h1 class="font-primary middle">Your personal data:</h1>
        <div class="form-group">
          <vue-input
            :hint="errorMessage('name')"
            :border-radius="radius"
            color="#ae4a84"
            label="Name"
            :error="!$v.userForm.name.required && $v.userForm.name.$dirty"
            :disabled="isLogged"
            v-model.trim="$v.userForm.name.$model"
            class="font-primary"
          />
        </div>
        <div class="form-group">
          <vue-phone-number-input
            v-model="$v.userForm.phone.$model"
            @update="validatePhone"
            no-country-selector
            :translations="translations"
            :disabled="isLogged"
            class="font-primary"
          />
        </div>
        <small
          id="phoneHelp"
          class="form-text text-muted"
        >We not share your personal account with any 3rd companies.</small>
      </div>

      <div class="mt-4" v-show="step === 3">
        <h1 class="font-primary middle">Delivery info:</h1>
        <label class="pure-material-checkbox font-primary">
          <input type="checkbox" @change="checkDelivery" />
          <span>No delivery need, will take with myself*</span>
        </label>
        <h4
          class="font-primary"
        >Delivery cost: {{ deliveryCost }} {{ currentSign === 'dollar' ? '$' : '€' }}</h4>
        <div v-show="isDelivery" class="form-row mt-3">
          <div class="form-group col-lg-4">
            <vue-input
              id="city"
              :hint="errorMessage('city')"
              :border-radius="radius"
              color="#ae4a84"
              label="City"
              :error="!$v.deliveryForm.city.required && $v.deliveryForm.city.$dirty"
              v-model.trim="$v.deliveryForm.city.$model"
              :disabled="Boolean(deliveryId)"
            />
          </div>
          <div class="form-group col-lg-3">
            <vue-input
              id="street"
              :hint="errorMessage('street')"
              :border-radius="radius"
              color="#ae4a84"
              label="Street"
              :error="!$v.deliveryForm.street.required && $v.deliveryForm.street.$dirty"
              v-model.trim="$v.deliveryForm.street.$model"
              :disabled="Boolean(deliveryId)"
            />
          </div>
          <div class="form-group col-lg-3">
            <vue-input
              id="building"
              :hint="errorMessage('building')"
              :border-radius="radius"
              color="#ae4a84"
              label="Building"
              type="number"
              :error="!$v.deliveryForm.building.required && $v.deliveryForm.building.$dirty"
              v-model.trim="$v.deliveryForm.building.$model"
              :disabled="Boolean(deliveryId)"
            />
          </div>
          <div class="form-group col-lg-2">
            <vue-input
              id="suite"
              :border-radius="radius"
              color="#ae4a84"
              type="number"
              label="Suite"
              v-model.trim="deliveryForm.suite"
              :disabled="Boolean(deliveryId)"
            />
          </div>
          <div v-show="isLogged && deliveryId">
            <button
              type="button"
              class="btn btn-link font-primary small"
              @click="resetDelivery"
            >Change address</button>
          </div>
        </div>
        <div v-show="isExist" class="col-lg-12 alert alert-info" role="alert">
          Looks like your are registered already in our system, please
          <a href="/login">Login</a> to see your orders history.
        </div>
      </div>

      <div v-show="step === 4" class="mt-4 font-secondary">
        <h1 class="font-primary middle">Payment details:</h1>
        <div class="form-group col-lg-12">
          <select class="custom-select" v-model="$v.paymentMethod.$model">
            <option value="0" selected>Choose payment method</option>
            <option
              v-for="method in paymentMethods"
              :value="method.id"
              v-bind:key="method.id"
            >{{ method.payment_method }}</option>
          </select>
        </div>
        <div class="input-group mb-3 col-lg-4">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon-2">Promo</span>
          </div>
          <input
            id="promo"
            type="text"
            class="form-control"
            placeholder
            aria-describedby="basic-addon-2"
            v-model="promoCode"
          />
          <div class="input-group-append">
            <button
              class="btn btn-secondary"
              :disabled="promoId > 0"
              type="button"
              @click="applyPromo"
            >Apply</button>
          </div>
          <h3>* Test code - Promo</h3>
        </div>
        <div class="col-lg-12 font-primary">
          <span v-show="promoError" class="form-text text-danger">This promo is unavailable</span>
          <span
            v-show="promoSale > 0"
            class="form-text text-success"
          >Your promo sale {{ promoSale }}%</span>
        </div>
      </div>
      <div class="form-group font-secondary middle mb-0 text-right">
        <span>
          Total:
          <b>{{ parseFloat(sum).toFixed(2) }} {{ currentSign == 'dollar' ? '$' : '€' }}</b>
        </span>
        <a href class="font-primary" @click="switchCurrency">Change currency</a>
      </div>
      <div class="col-lg-12 text-center">
        <button v-show="step > 3" @click="back" class="aroma-button px-4 mt-4">Back</button>
        <button v-show="step === 1" @click="next" class="aroma-button px-4 mt-4">Let's go!</button>
        <button
          v-show="step > 1 && step < 3"
          @click="next"
          class="aroma-button px-4 mt-4"
          :disabled="$v.validationGroup.userForm.$invalid || !userForm.phoneValid"
        >Next</button>
        <button
          v-show="step === 3"
          @click="next"
          class="aroma-button px-4 mt-4"
          :disabled="$v.validationGroup.deliveryForm.$invalid && isDelivery"
        >Next</button>
        <button
          v-show="step === 4 && !submited"
          @click="submit"
          class="aroma-button px-4 mt-4"
          :disabled="!$v.paymentMethod.paymentChoosed"
        >Complete</button>
      </div>
    </div>
  </div>
</template>
<script>
import { required, minLength } from "vuelidate/lib/validators";

const paymentChoosed = (value) => value > 0;

export default {
  data() {
    return {
      priceConvert: 1.18,
      items: [],
      paymentMethods: [],
      deliveryCost: 2.4,
      currentSign: "dollar",
      step: 1,
      steps: [
        { id: 1, active: true },
        { id: 2, active: false },
        { id: 3, active: false },
        { id: 4, active: false },
      ],
      cart: [],
      cartId: 0,
      deliveryId: 0,
      paymentMethod: 0,
      promoCode: "",
      promoId: 0,
      promoSale: 0,
      promoError: false,
      sum: 0,
      user: 0,
      userForm: {
        name: "",
        phone: "",
        email: "",
        phoneValid: false,
      },
      city: "",
      deliveryForm: {
        city: "",
        street: "",
        building: "",
        suite: "",
        name: "", // @todo named deliveries address
      },
      orderForm: {
        delivery: 0,
        cart: 0,
        price: 0,
        promo: 0,
      },
      translations: {
        phoneNumberLabel: "Phone number",
        example: "Example",
      },
      radius: 2,
      isDelivery: true,
      showModal: false,
      showConfirmModal: false,
      isLogged: false,
      isExist: false,
      isSent: false,
      submited: false,
    };
  },
  validations: {
    paymentMethod: { paymentChoosed },
    userForm: {
      name: { required },
      phone: { required, minLength: minLength(17) },
    },
    deliveryForm: {
      city: { required },
      building: { required },
      street: { required },
    },
    validationGroup: ["userForm", "deliveryForm"],
  },
  props: ["auth_user", "auth_deliveries"],
  computed: {
    common() {
      let sum = 0;
      this.items.forEach(function (item, index) {
        sum += parseFloat(item.price) * parseFloat(item.pivot.quantity);
      });

      sum += this.deliveryCost;

      return sum;
    },
  },
  mounted() {
    if (this.cartId > 0) {
      axios
        .get("/cart/" + this.cartId)
        .then((res) => {
          this.items = res.data.items;
          this.getSum();
        })
        .catch((error) => {
          console.log(error);
        });

      axios
        .get("/payment_methods")
        .then((res) => {
          this.paymentMethods = res.data;
        })
        .catch((error) => {
          console.log(error);
        });
    }
  },
  created() {
    this.loadCart();
    if (this.auth_user) this.isLogged = true;
    console.log(this.auth_user);
    console.log(this.auth_deliveries);
  },
  methods: {
    loadCart() {
      let cartId = localStorage.getItem("cart_id");
      if (cartId !== null) {
        this.cartId = parseInt(cartId);
        let text = localStorage.getItem("text");
        if (text !== null) {
          this.cardText = text;
        }
      }

      // If user logged in
      if (this.auth_user) {
        this.userForm.phone = this.auth_user.phone;
        this.userForm.name = this.auth_user.name;
        this.userForm.email = this.auth_user.email;
      }

      // If user has active delivery fill this one
      if (this.auth_deliveries && this.auth_deliveries.length) {
        this.auth_deliveries.forEach((delivery) => {
          if (delivery.active) {
            this.deliveryForm.city = delivery.city;
            this.deliveryForm.street = delivery.street;
            this.deliveryForm.building = delivery.building;
            this.deliveryForm.suite = delivery.suite;
            this.deliveryId = delivery.id;
          }
        });
      }

      this.user = this.$cookie.get("user") ? this.$cookie.get("user") : null;
    },
    getSum() {
      let sum = 0;
      for (let i = 0; i < this.items.length; i++) {
        sum +=
          parseFloat(this.items[i].price) *
          parseFloat(this.items[i].pivot.quantity);
      }

      this.sum = sum + this.deliveryCost;
    },

    next() {
      this.step++;
      this.steps[this.step - 1].active = true;
    },

    back() {
      this.steps[this.step - 1].active = false;
      this.step--;
    },

    errorMessage(type) {
      let isValid = true;
      if (type === "name") {
        isValid =
          !this.$v.userForm.name.required && this.$v.userForm.name.$dirty;
      }
      if (type === "city") {
        isValid =
          !this.$v.deliveryForm.city.required &&
          this.$v.deliveryForm.city.$dirty;
      }
      if (type === "street") {
        isValid =
          !this.$v.deliveryForm.street.required &&
          this.$v.deliveryForm.street.$dirty;
      }
      if (type === "building") {
        isValid =
          !this.$v.deliveryForm.building.required &&
          this.$v.deliveryForm.building.$dirty;
      }

      return isValid ? "Must not be empty" : "";
    },

    checkDelivery() {
      this.isDelivery = !this.isDelivery;
      this.deliveryCost = !this.isDelivery ? 0.0 : 2.4;
      this.getSum();
      this.deliveryForm = this.clearDelivery();
      this.deliveryId = 0;
    },

    resetDelivery() {
      this.deliveryForm = this.clearDelivery();
      this.deliveryId = 0;
    },

    clearDelivery() {
      return {
        city: "",
        street: "",
        building: "",
        suite: "",
        name: "", // @todo named deliveries address
      };
    },

    validatePhone(e) {
      this.userForm.phoneValid = e.isValid;
    },

    applyPromo() {
      axios
        .get("/promo/" + this.cartId + "/" + this.promoCode)
        .then((res) => {
          if (res.data.sale > 0) {
            this.promoSale = res.data.sale;
            this.sum = this.sum * ((100 - this.promoSale) / 100);
            this.promoError = false;
            this.promoId = res.data.id;
          } else {
            this.promoError = true;
          }
          console.log(res);
        })
        .catch((error) => {
          this.promoError = true;
          console.log(error);
        });
    },

    submit() {
      let data = {
        cart_id: this.cartId,
        delivery_id: this.deliveryId,
        payment_method_id: this.paymentMethod,
        promo_id: this.promoId,
        card: this.cardText,
      };

      axios
        .post("/order", data)
        .then((res) => {
          localStorage.removeItem("cart_id");
          localStorage.removeItem("added");
          this.showConfirmModal = true;
          this.submited = true;
          localStorage.removeItem("count");

          let orderId = res.data.order.id;

          if (isDelivery) {
            let delivery = {
              order: orderId,
              city: this.deliveryForm.city,
              street: this.deliveryForm.street,
              building: this.deliveryForm.building,
              suite: this.deliveryForm.suite,
            };
            axios
              .post("/user/delivery", delivery)
              .then((res) => {
                console.log(success);
              })
              .catch((error) => {
                console.log(error);
              });
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },

    smsSend() {
      let data = {
        phone: this.userForm.phone,
      };

      axios
        .post("/user/confirmation", data)
        .then((res) => {
          console.log(res);
          if (res.data.success) {
            this.isSent = true;
          } else {
            this.isSent = false;
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },

    confirm() {
      let data = {
        code: this.confirmCode,
        phone: this.userForm.phone,
      };

      axios
        .post("/user/confirmation/try", data)
        .then((res) => {
          console.log(res);
          if (res.data.success) {
            this.isConfirmed = true;
          } else {
            this.isConfirmed = false;
            this.smsError = true;
          }
        })
        .catch((error) => {
          this.smsError = true;
          console.log(error);
        });
    },

    close() {
      this.showConfirmModal = false;
      setTimeout(() => {
        window.location = "/";
      }, 1000);
    },
    switchCurrency(e) {
      e.preventDefault();
      if (this.currentSign === "euro") {
        this.sum *= this.priceConvert;
        this.deliveryCost *= this.priceConvert;
        this.deliveryCost = parseFloat(this.deliveryCost).toFixed(2);
        this.currentSign = "dollar";
      } else {
        this.sum /= this.priceConvert;
        this.deliveryCost /= this.priceConvert;
        this.deliveryCost = parseFloat(this.deliveryCost).toFixed(2);
        this.currentSign = "euro";
      }
    },
  },
};
</script>