<template>
  <agile :options="options">
    <div>
      <span class="heading-slide">
        At Pizza Boy, we have over 50 years experience safely delivering food to Canadians.

        <br />– it’s what we’ve always done, and now we’re doing more
      </span>
      <img class="slide" :src="baseUrl + 'images/slider/example.jpg'" />
    </div>
    <div>
      <span class="heading-slide">
        The health and safety of our employees, restaurant operators.
        <br />customers and communities remains our top priority with the rapidly evolving COVID-19 crisis
      </span>
      <img class="slide" :src="baseUrl + 'images/slider/example.jpg'" />
    </div>
  </agile>
</template>
<style>
.agile__nav-button {
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 24px;
  height: 100%;
  position: absolute;
  top: 0;
  transition-duration: 0.3s;
  width: 80px;
}

.agile__nav-button:hover {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.agile__nav-button--prev {
  left: 0;
}

.agile__nav-button--next {
  right: 0;
}

.agile__dots {
  bottom: 10px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.agile__dot {
  margin: 0 10px;
}

.agile__dot button {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  height: 10px;
  font-size: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
  transition-duration: 0.3s;
  width: 10px;
}

.agile__dot--current button,
.agile__dot:hover button {
  background-color: #fff;
}

.slide {
  display: block;
  height: 450px;
  object-fit: cover;
  width: 100%;
}

.heading-slide {
  text-shadow: 2px 3px 4px #030202;
  color: #ffffff;
  font-style: italic;
  font-weight: bold;
  font-size: 26pt;
  font-family: Play;
  padding: 10pt;
  position: absolute;
  margin-left: 20%;
  top: 30%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 99;
}

@media screen and (max-width: 992px) {
  .heading-slide {
    font-size: 26px;
    text-align: center;
    top: 20%;
    margin-left: 3%;
  }
}
</style>

<script>
import { VueAgile } from "vue-agile";

export default {
  data() {
    return {
      baseUrl: process.env.MIX_BASE_URL,
      options: {
        initialSlide: 1,
        autoplay: true,
        centerMode: true,
        dots: true,
        navButtons: false,
        responsive: [
          {
            breakpoint: 600,
            settings: {
              autoplaySpeed: 2000
            }
          },

          {
            breakpoint: 300,
            settings: {
              navButtons: true,
              autoplaySpeed: 2000
            }
          }
        ]
      }
    };
  },
  components: {
    agile: VueAgile
  }
};
</script>
