<template>
  <div class="col-lg-12">
    <!-- Confirm Modal window -->
    <modal v-if="showConfirmModal">
      <h3 slot="header">Register success!</h3>
      <div slot="body">
        <div class="font-primary small regular">
          <h3>
            Now you can login into your
            <a href="/login">Personal Cabinet</a>
          </h3>
        </div>
      </div>
    </modal>
    <!-- End Modal windows -->
    <div class="form-group">
      <vue-input
        id="name"
        color="#ae4a84"
        label="Your name"
        v-model.trim="name"
        class="font-primary w-30"
      />
    </div>
    <div class="form-group">
      <vue-phone-number-input
        v-model="$v.phone.$model"
        no-country-selector
        name="phone"
        :translations="translations"
        class="font-primary"
      />
    </div>

    <vue-input
      id="confirm"
      color="#ae4a84"
      label="Choose the password"
      v-model.trim="password"
      class="font-primary w-30"
    />

    <div class="form-group flex-center pt-3">
      <button class="order-button px-4" @click="register">Register</button>
    </div>
  </div>
</template>

<script>
import { required, minLength } from "vuelidate/lib/validators";
export default {
  data() {
    return {
      isRegistered: false,
      name: "",
      phone: "",
      password: "",
      translations: {
        phoneNumberLabel: "Your phone number",
        example: "Example",
      },
      showConfirmModal: false
    };
  },
  validations: {
    phone: { required, minLength: minLength(13) },
  },
  methods: {
    register() {
      let data = {
        name: this.name,
        phone: this.phone,
        password: this.password,
      };
      console.log(this.phone);
      console.log(this.password);
      axios
        .post("/register", data)
        .then((res) => {
          if (res.data.success) {
            this.user = res.data.result.id;
            this.$cookie.set("user", parseInt(this.user));
            this.showConfirmModal = true;
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>
