.carousel-inner img {
  margin: auto;
}

th.active .arrow {
  opacity: 1;
}

.width {
  width: 100%;
}

.arrow {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  margin-left: 5px;
  opacity: 0.66;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.arrow.asc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid black;
}

.arrow.dsc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid black;
}
table thead tr th {
  cursor: pointer;
}

.for-page-button {
  margin-top: 20px;
  margin-left: 20px;
}

.search-box {
  width: 150px;
  margin: 10px;
}

.number-input {
  border: 1px solid #c3c0c0;
  width: 60px;
}

.grid-results {
  margin: 10px;
}

.white-font > a {
  color: white;
}

.white-font > a:hover {
  color: #d7dbe2;
}

.white-font-15 > a {
  color: white;
  font-size: 15px;
}

.white-font-15 > a:hover {
  color: #d7dbe2;
  font-size: 15px;
}

.margin-10 {
  margin: 10px;
}

.margin-20 {
  margin: 20px;
}

.margin-30 {
  margin: 30px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-bottom-10 {
  margin-top: 10px;
}

.form-border {
  width: 100%;
  min-width: 200px;
  color: #555;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 15px;
  background-color: #f9fafc;
}

.min-width-200 {
  min-width: 200px;
}

.min-width-300 {
  min-width: 200px;
}

.guest-footer {
  background: #fff;
  padding: 15px;
  width: auto;
  color: #444;
  border-top: 1px solid #d2d6de;
  position: relative;
  clear: both;
  padding-top: 20px;
  padding-bottom: 20px;
}

.body-fill {
  margin-top: 10px;
  margin-bottom: 50px;
}

.submit-email-button {
  margin-top: 20px;
  margin-left: 70px;
}

.reset-password-button {
  margin-top: 20px;
  margin-left: 95px;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

/* Fonts */

.font-primary {
  font-family: Oswald;

  &.regular {
    font-weight: 200;
  }

  &.medium {
    font-weight: 600;
  }

  &.bold {
    font-weight: 800;
  }

  &.small {
    font-size: 1.2em;
  }

  &.middle {
    font-size: 1.5em;
  }

  &.big {
    font-size: 2em;
  }

  input {
    font-family: Oswald !important;
  }
}

::placeholder {
  color: grey !important;
  opacity: 0.5 !important;
}

.font-secondary {
  font-family: Philosopher;

  &.regular {
    font-weight: 200;
  }

  &.medium {
    font-weight: 600;
  }

  &.bold {
    font-weight: 800;
  }

  &.small {
    font-size: 1.2em;
  }

  &.middle {
    font-size: 1.5em;
  }

  &.big {
    font-size: 2em;
  }
}

.decoration-none {
  color: white;
  transition: all 0.3s;

  &:hover {
    color: white;
    text-shadow: 0px 1px 1px black;
    text-decoration: none;
  }
}

/* End Fonts */
#count {
  font-size: 12px;
  top: 0px;
  position: absolute;
}
/* Header */
.header {
  background-color: $pizza-background;
  color: white;
  font-family: "Oswald";
  font-weight: normal;
  font-style: normal;
  font-size: 14pt;

  nav a {
    color: white;
    font-size: 18pt;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s;
    padding: 10px;

    &:hover {
      text-shadow: 0px 0px 3px floralwhite;
    }
  }

  .quick-button {
    cursor: pointer;
    max-width: 40px;
    margin-left: 20px;
    width: 40px;
  }

  .info-button {
    img {
      cursor: pointer;
      margin-left: 20px;
      width: 26px;
      margin-bottom: 5px;
    }
  }

  .beta-version {
    cursor: pointer;
    width: 58%;
    margin-top: 2%;
    position: absolute;
    z-index: 999;

    &:hover {
      text-decoration: underline;
    }
  }
}

.more-filters-container {
  overflow: hidden;
  position: relative;
  /* the container's height will determine the height of its slider  */
  /*height:350px; */
}
.more-filters-content {
  -webkit-transition: -webkit-transform 0.3s ease;
  -moz-transition: -moz-transform 0.3s ease;
  -ms-transition: -ms-transform 0.3s ease;
  transition: transform 0.3s ease;
}

.more-filters-content {
  /* visible */
  -webkit-transform: translate(0, -100%);
  -moz-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  transform: translate(0, -100%);
  height: 0px;
}

.page-title {
  float: left;
  background-color: #2f8231;
  padding: 1em 5em 1em 5em;
  font-family: Oswald;
  color: white;
  text-align: center;
  width: 100%;
}

.page-title h1 {
  line-height: 0.8em;
}

/* End Header */

/* Footer */

.footer {
  background-color: $pizza-background;
  color: white;
  margin-top: 100px;

  div {
    padding: 20px;
  }
}

.item-box {
  cursor: pointer;

  h3 {
    color: $black;
    font-family: "Oswald", bold;
    margin-top: 30px;
  }

  .price-box {
    background-color: rgba(236, 51, 55, 0.6);
    color: white;
    margin-top: -80%;
    margin-left: 11.7%;
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Oswald";
    width: 118px;
    font-size: 17pt;
    text-shadow: 1px 1px 2px black;
    z-index: 9;
  }

  /* Brightness-zoom Container */
  .img-hover-zoom-brightness img {
    transition: transform 0.7s, filter 0.5s ease-in-out;
    transform-origin: center center;
    filter: brightness(100%);
  }

  /* The Transformation */
  .img-hover-zoom-brightness:hover img {
    filter: brightness(110%);
    transform: scale(1.05);
  }
}

.added {
  background-color: $button-success !important;
}

.order-button {
  color: white;
  background-color: $pizza-primary;
  border: none;
  border-radius: 0.25em !important;
  font-family: "Oswald";
  font-size: 2em;
  transition: all 0.4s;
  text-shadow: 0px 2px 2px black;
  text-transform: uppercase;
  width: 9em;

  &:hover {
    filter: brightness(1.2);
  }
}

.filter {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 11px;
  font-family: "Oswald";
  text-transform: uppercase;
  transition: all 0.3s;
  font-size: 14pt;

  &:hover {
    background-color: $pizza-primary;
    border-color: $pizza-primary;
  }
}

.active {
  background-color: $pizza-primary;
  border-color: $pizza-primary;
}

/* Buttons */

.aroma-button {
  color: white;
  background-color: $pizza-primary;
  border: none;
  border-radius: 0.5em !important;
  font-family: "Oswald";
  font-size: 2em;
  text-shadow: 0px 2px 2px black;
  text-transform: uppercase;
  border-radius: 7px;

  &.save {
    font-size: 1em;
    padding: 0 15%;
  }

  &:disabled {
    filter: opacity(0.5);
  }

  a {
    padding: 0 20px;
    color: white;
    text-decoration: none;
  }
}

/* End buttons */

/* Cart page */

.cart-item-description {
  font-size: 16pt;
  font-family: Oswald;

  .title {
    font-family: Philosopher;
    font-size: 22pt;
    font-weight: 800;
  }
}

.pointer {
  cursor: pointer;
  padding: 5px;

  &:hover {
    text-decoration: underline;
    color: $pizza-primary !important;
  }
}

/* End Cart page */
/* Order page */

.order-table {
  img {
    max-width: 40%;
    padding: 0px;
  }
}

.circle {
  background: $grey;
  border-radius: 50%;
  margin: 5px;
  font-family: Oswald;
  font-size: 10pt;
  width: 4em;
  height: 4em;

  &.active {
    background-color: $pizza-primary;
    color: white;
  }
}

.sale-client {
  cursor: pointer;
  color: #3490dc;
  text-decoration: none;
  background-color: transparent;

  &:hover {
    text-decoration: underline;
  }
}

// Details Page
#details-box {
  width: 60%;

  .details-price-box {
    position: absolute;
    z-index: 999;
    background-color: rgba(236, 51, 55, 0.6);
    color: white;
    margin-top: 4%;
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Oswald";
    font-weight: 400;
    width: 118px;
    font-size: 17pt;
    text-shadow: 1px 1px 2px black;
  }
}

@media screen and (max-width: 992px) {
  #details-box {
    width: 100%;
  }
}

// End Details Page

// Tooltip

[data-tooltip] {
  position: relative; /* Относительное позиционирование */
}
[data-tooltip]::after {
  content: attr(data-tooltip); /* Выводим текст */
  position: absolute; /* Абсолютное позиционирование */
  width: 100%; /* Ширина подсказки */
  left: 0;
  top: 0; /* Положение подсказки */
  background: $pizza-primary;
  color: #fff; /* Цвет текста */
  padding: 0.5em; /* Поля вокруг текста */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Параметры тени */
  pointer-events: none; /* Подсказка */
  opacity: 0; /* Подсказка невидима */
  transition: 0.7s; /* Время появления подсказки */
  z-index: 999;
}
[data-tooltip]:hover::after {
  opacity: 1; /* Показываем подсказку */
  top: 2em; /* Положение подсказки */
}

// End Tooltip

.about-page {
  font-size: 16pt;
  font-family: Play;
}
